.container{
    height: 450px;
    width: 400px;
    background-color: red;
    display: flex;
    flex-direction: column;
}

.display{
  background-color: red;
  flex: auto;
}


.function{
    background-color: black;
    flex: 5 1 auto;
    display: flex;
}

.digits{
  background-color: orange;
  flex: 3 1 auto;
  display: flex;
  flex-direction: column;
}

.row{
  flex: auto;
  
}

.top{
  background-color: orchid;
}

.mid{
  background-color: purple;
}

.operators{
  background-color: blue;
  flex:  auto;

}