.container{
    height: 450px;
    width: 400px;
    background-color: red;
    display: flex;
    flex-direction: column;
}

.display{
  background-color: orchid;
  flex: auto;
  margin: 2px;
}


.function{
    flex: 5 1 auto;
    display: flex;
}

.digits{
  flex: 3 1 auto;
  display: flex;
  flex-direction: column;
}

.row{
  flex: auto;
  display: flex;  
}

.top{
  
}

.mid{

}

.digit{
  background-color: yellow;
  flex: auto;
  margin: 2px;
}

.operators{
  flex:  auto;
  display: flex;
  flex-direction: column;
}

.operator{
   background-color: pink;
   flex: auto;
   margin: 2px;
}