.container{
    height: 450px;
    width: 400px;
    background-color: red;
    display: flex;
    flex-direction: column;
}

.display{
  background-color: orchid;
  flex: auto;
  margin: 2px;
}


.function{
    flex: 2 1 auto;
    display: flex;
}

.digits{
  flex: 3 1 auto;
  display: flex;
  flex-direction: column;
}

.row{
  flex: auto;
  display: flex;  
}



.digit{
  background-color: yellow;
  flex: auto;
  margin: 2px;
  font-size: 40px;
  text-align: center;

}

.operators{
  flex:  auto;
  display: flex;
  flex-direction: column;
}

.operator,
.clear,
.display{
   background-color: pink;
   flex: auto;
   margin: 2px;
   font-size: 40px;
   text-align: center;
}

.display{
  text-align: left;
}